ul{
    margin-top: 70px;
}
ul li{
    display: inline;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: blueviolet;
    background-color: white;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
}
body{
    background-color: black;
    color:white;
    font-size: 20px;
}
h1{
    color:white;
    margin-top: 50px;
}